@{
    ViewData["Title"] = "Користувачі";
}

<div class="text-center">
    <h1 class="display-4">Сторінка користувача</h1>
</div>

<!--
<h3><a href="/User/Registration">Реєстрація</a></h3>
При прямому зазначенні адреси не враховуються правила марштуризації
Якщо вони зміняться, наприклад, через додавання культури (uk-UA),
то всі посилання доведеться переробляти.

Коли зазначаються asp- артрибути, то посилання формується згідно з
правилами маршрутизації. Такі посилання переробляться автоматично
-->
<h3><a asp-action="Registration">Реєстрація</a></h3>

Д.З. Створити форму для реєстрації користувача
- Логін
- Пароль 1
- Пароль 2 (повтор)
- Реальне ім'я
- E-mail