@model ASP_202.Models.Forum.ForumTopicViewModel

<div class="col">
    <div class="card h-100">
        <div class="card-header">
            @Model.Title
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>
