@{
    ViewData["Title"] = "Основи ASP";
}

<div class="text-center">
    <h1 class="display-4">Основи ASP</h1>
</div>

<h3><a href="/Home/Intro">Вступ</a>.</h3>
<h3><a href="/Home/Scheme">Схема взаємодії</a>.</h3>
<h3><a href="/Home/Razor">Razor</a>.</h3>
<h3><a href="/Home/Model">Передача моделі у представлення</a>.</h3>
<h3><a asp-action="Services">Services - служби</a>.</h3>
<h3><a asp-action="Context">Контекст бази даних</a>.</h3>

<br/>

<h3><a href="/User">Сторінка користувача</a>.</h3>
