@{
    ViewData["Title"] = "Основи ASP";
}

<div class="text-center">
    <h1 class="display-4">Основи ASP</h1>
</div>

<h3><a href="/Home/Intro">Вступ</a>.</h3>
<h3><a href="/Home/Scheme">Схема взаємодії</a>.</h3>
