@{
    ViewData["Title"] = "Вступ";
}

<div class="text-center">
    <h1 class="display-4">Вступ</h1>
</div>

<p>
    ASP - Active Server Pages - фреймворк C# (.NET) для створення веб-застосунків.
</p>
<p>
    ? Що значить шаблон маршрутизації: pattern: "{controller=Home}/{action=Index}/{id?}"
    <br/>
    ! Це правило формування / "розбирання" URL у запиті:<br/>
    - перша частина це controller, якщо не зазначена, то встановлюється у Home<br />
    - друга частина це action (метод), якщо не зазначена, то встановлюється у Index<br />
    - третя частина не є обов'язковою і позначається як id<br />
    <b>Наприклад</b><br />
    Запит "/" (порожній) - сприймається як /Home/Index<br />
    "/Items" - як /Items/Index (контроллер - ItemsController.cs,
        у ньому метод - Index())<br />
    "/Items/Goods": контроллер - ItemsController.cs, у ньому метод - Goods()<br />
    "/Items/Goods/123": якщо метод Goods() має параметр Goods(String id), то 
        буде передано id="123"
</p>
<p>
    ? Як відбувається пошук контроллерів / представлень ? <br/>
    ! За збігом імен. Контроллери шукаються у папці Controllers за збігом
    Name.cs або NameController.cs (рекомендується)<br/>
    Представлення - у папці Views, підпапках Shared та Name (за іменем контроллера)
    Назва представлення - за іменем метода (action)
</p>
