@{
    ViewData["Title"] = "Сесії";
}

<div class="text-center">
    <h1 class="display-4">НТТР-сесії</h1>
</div>
<p>
    НТТР-сесії являють собою механізм збереження даних з боку сервера та
    прив'язки їх до клієнта. Взагалі, слово "сесія" багатозначне, як правило
    означає певний часовий проміжок, "сеанс". Для відокремлення даного терміну
    вживається "НТТР-сесії".
</p>
<p>
    З боку клієнта (у браузері) дані між оновленням сторінки зберігаються у засобах
    localStorage та sessionStorage. Серверні НТТР-сесії працюють наступним
    чином:
</p>
<ul>
    <li>Сервер стартує (або налагоджує) сесію, це встановлює Cookie (параметр,
        який браузер запам'ятовує та автоматично пересилає з кожним запитом
        до даного сайту). У Cookie встановлюється випадкове число - токен сесії.
    </li>
    <li>З боку сервера утворюються засоби збереження даних, закладених у сесію.
        Можна уявляти, що створюються файли з іменами = токенами сесій.
        При надходженні запиту із Cookie, відкривається відповідний файл та
        відновлюються збережені дані.
    </li>
    <li>Під час комунікації у сесію (у файл) зберігаються дані та, за потреби,
        відновлюються та аналізуються. Оскільки мова іде про запис у файл, 
        до збереження допускаються тільки ті дані, що можуть серіалізуватись.
        Можливі додаткові обмеження у різних мовах / фреймворках.
    </li>
</ul>
<p>
    Про конфігурацію сесій в ASP див. 
    <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">документацію</a>
</p>
<form>
    Зберігти у сесії дані: <input type="number" name="number"/>
    <button type="submit">Запам'ятати</button>
</form>
<p>
    Раніше збережені дані: @ViewData["number"]
</p>
