@model ASP_202.Models.Home.Product


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/3942033.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            Ваш найкращий вибір: @Model.Name Тільки за @Model.Price грн
        </p>
        <a href="#" class="btn btn-primary">Придбати</a>
    </div>
</div>
